ul, ol {
    padding-left: 0;   /* Remove padding from the list container */
    margin-left: 0;    /* Remove margin from the list container */
}

.background {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.game_frame {   
    width: 300px;
    padding-top: 25px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.cover_img {
    height: 100vh;
    width: auto;
}

